* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("fejlec.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;


}

/*hm*/

.menu-btn {
    margin: auto;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width:30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn_burger {

    width: 30px;
    height: 3px;
    background: rgb(175, 175, 175);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: rgb(175, 175, 175);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-8px);
}

.menu-btn_burger::after {
    transform: translateY(8px);
}

/*Animáció*/


.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);

}
#hmenudiv{
    display: none;
}
#hcol{
    display: none;
}

/*hm*/


.dropbtn {

    border: none;
    background-color: inherit;
    color: rgb(0, 157, 255);

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(241, 241, 241, 0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
}


.menu {
    display: flex ;
    justify-content:space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    margin-top: 1%;
    width:50%;
    margin: auto;
    border-radius: 5px;
    list-style-type: none;
    text-align: center;
    font-size: larger;
    
}

.menupont {
    text-decoration: none;
    color: rgb(0, 157, 255);
    padding: 10px;
    display: inline;
}



.menupont:focus {
    color: black;
}

.menupont:hover {

    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    border-radius: 5px;
}


.col-9 {
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: max-content;
    border-radius: 5px;
    text-align: justify;
    padding: 1%;

}


#szobakszoveg {
    margin-top: 2%;
    margin-bottom: 5%;
}


#vendeghaz {
    padding: 1%;
}

#vendegszobak {
    margin-top: 2%;
    margin-bottom: 5%;
}

#vendegkep {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#carouselExampleIndicators {
    width: 50%;
    margin: auto;
    margin-top: 2%;
}

.card {
    width: 50%;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 0;
    font-size: medium;
}


#icons {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    flex-direction:row;
}

#cim {
    text-align: center;
}

.icon {
    height: 6vh;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

#rent-table {
    justify-content: center;
    text-align: center;
    
}



#rent-table td {
    text-align: center;
}

.rent {
    width: 50%;
    margin-bottom: 10%;
}

#lefoglalom {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#carouselExampleIndicators {
    width: 70%;
    margin: 5px auto;
    margin-top: 5%;
}

#map {
    height: fit-content;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2%;
}
#gmaps{
display: flex;
font-size: larger;
justify-content:center;
margin-bottom: 2%;


}

#gmapskep{
    height: 10vh;
   
    margin-bottom: 2%;
    border-radius: 5%;
    
}

#fizetendo {
    font-weight: bold;
    font-size: large;
}

#szamolo_table {
    width: 100%;
    float: right;
}

#email {
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.card-img-top {
    width: 100%
}

#footer {
    background-color: lightgray;
    text-align: center;
    border-radius: 5px;
    opacity: 90%;
}








@media screen and (max-width: 600px) {
    .icon {
        height: 3vh;
    }

    #icons {
        display: unset;
        display: flex;
        flex-direction: column;

        margin-bottom: 2%;

    }

    .nav-item {
        display: block;
        width: 100%;
        text-align: center;
    }

    .card {
        width: 100%;
        float: none;
        display: block;
        margin-bottom: 1%;
    }

    .menu {
        display: none;
    }

.menu-btn{
    display: flex;
   width: max-content;
}

    #hmenudiv {

        display: none;
        flex-direction: column;
        align-items: center;
        font-size: xx-large;
  
    }

    .hmenupont {
        text-decoration: none;
        flex-direction: column;
        position: relative;

    }
    .hmenupont:hover{
        background-color:rgba(255, 255, 255, 0.6);
        border-radius: 5px;
        padding-left:15%;
        padding-right: 15%;
    }

    #vendegkep{
        width: 50%;
    }
    
    #hcol{
        display: flex;
        flex-direction: column;
    }
    #vendeghaz{
        padding: 5%;
    }

    #szobakszoveg{
        padding: 5%;
    }
    body{
        font-size: small;
    }


}
